<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaybon.opgg">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_opgg_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_opgg_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.detail.DetailActivity"/>
        <activity android:name=".view.communitydetail.CommunityDetailActivity"/>
        <activity android:name=".view.auth.JoinActivity"/>
        <activity android:name=".view.info.InfoActivity"/>
        <activity android:name=".view.auth.LoginActivity"/>
        <activity android:name=".view.MainActivity">
<!--            아래코드는 앱에 하나만 있어야됨(여러개있으면 앱이 여러개 설치됨)-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>